.strechDiv{
  position: absolute;
  overflow: auto;
  top: 5%;
  bottom: 45%;
  left:3%;
  right:3%;
  background-color:#F5F5F5;
  padding: 15px;

}
.backDiv{
  position: absolute;
  overflow: auto;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  background-color:#ebebeb;
}
