

// .icoMoon-website:before {
//     content: "\e909";
//     font-size: 5em;
// }
ion-col.main-col{
    text-align: center;
}
// custom icon css
// ion-icon.ion-md-jeep,ion-icon.ion-md-resto,ion-icon.ion-md-hotel,ion-icon.ion-md-mall,ion-icon.ion-md-supermarket,ion-icon.ion-md-salon,ion-icon.ion-md-police,ion-icon.ion-md-health{
//   font-size:6em;
// }
//
//
// button.main_btn.disable-hover.button.button-clear.button-fab.button-clear-fab-top.button-icon-only {
//     position: inherit;
//     overflow: hidden;
//     min-width: 0;
//     width: 100%;
//     height: auto;
//     // border-radius: 50%;
//     font-size: 3vw;
//     // line-height: 56px;
//     vertical-align: middle;
//     background-clip: padding-box;
//     margin: 5% 0%;
//     box-shadow: none;
// }
// // ion-icon.more{
// //   font-size: 4em;
// // }
// button.main_btn.disable-hover.button.button-clear.button-fab.button-clear-fab-top.button-icon-only ion-button-effect{
//   display: none !important;
//   background: rgba(255, 255, 255, 0) !important;
// }
// ion-button-effect{
//   display:none !important;
//   background: rgba(255, 255, 255, 0) !important;
// }

// custom icon css end


//icomoon custom font icons

#mainBackDivMP{
  height: 100%;
  background-image: $bg-pattern;
}

.btn-menu-label {
    font-size: 12pt;
    color: #636363;
    white-space: pre-wrap;
    font-weight: normal;
    text-transform: capitalize;
    text-align: center;
    margin-top: 1%;
}

ion-row.enter {
    border: .5px solid #D8D8D8;
    background: #fff;
    height: 45px;
}

p {
  margin: 20px 0;
  line-height: 22px;
  font-size: 16px;
}

.upperDiv{
  height:15%;
  padding: 0%
}
.lowerDiv{
  height:100%;
}

div.geoloc_input{
	width:80%;
  height:40px;
	padding-top:0px;
  border: 1px solid #9FCCFF;
  background: #fff;
}


div.geoloc_btn button {
    height:100%;
		margin: 0px;
}

div.geoloc_btn{
	width:20%;
  height:40px;
	padding-top:0px;
  border: 1px solid #9FCCFF;
  background: #fff;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
ion-input#geolocation input.text-input {
    margin: 10px 5px !important;
}
ion-toolbar.geoloc_toolbar.toolbar {
    padding: 3%;
    min-height: 7rem;
}
ion-input#geolocation input.text-input::-webkit-input-placeholder {
    color: #fff;
}
