<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{'Jeepneys'|translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content >
  <div class="bg">
    <ion-item-group >
      <ion-item-divider >{{divider[0]|translate}}</ion-item-divider>
      <button ion-item detail-none *ngFor="let acjeep of acjeeps" [navPush]="JeepDetailsPage" [navParams]=" {jeep: acjeep}">
        <ion-thumbnail item-left>
        <img src="{{acjeep.image}}">
        </ion-thumbnail>
        <h2>{{acjeep.name|translate}}</h2>
        <h3>{{acjeep.color|translate}}</h3>
      </button>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider >{{divider[1]|translate}}</ion-item-divider>
      <button ion-item detail-none *ngFor="let cjeep of cjeeps" [navPush]="JeepDetailsPage" [navParams]=" {jeep: cjeep}">
        <ion-thumbnail item-left>
        <img src="{{cjeep.image}}">
        </ion-thumbnail>
        <h2>{{cjeep.name|translate}}</h2>
        <h3>{{cjeep.color|translate}}</h3>
      </button>
    </ion-item-group>
  </div>

</ion-content>
