<ion-header>
  <ion-navbar primary>
    <ion-title>{{item_select.name}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="restaurant-details card-background-page">
  <div class="mainBackDiv">
    <ion-grid class="grid_details">
      <ion-row>
        <ion-col>
          <ion-slides>
            <ion-slide *ngFor="let photo of photos">
              <img src="{{photo}}" >
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h3 style="font-weight:500; width:100%;">{{item_select.name}}</h3>
          {{item_select.vicinity}}
        </ion-col>
      </ion-row>

      <ion-row>
          <span id="place_contact"></span>
      </ion-row>

      <ion-row>
        <ion-col>
          <span id="resto_rating"></span>
        </ion-col>
      </ion-row>

      <ion-row class="details_btn">
        <ion-col width-25>
          <span id="operating_hours"></span>
        </ion-col>

        <ion-col width-25></ion-col>

        <ion-col width-25 style="text-align:center;">
          <button clear  [navPush]="UniMapPage" [navParams]="{item_coordinates:item_select,page:page}" class="unidetail_btn">
            <ion-icon name="marker"></ion-icon>
          </button>
          <span style="font-size:9pt; color: #B7B7B7;">{{'Map' }}</span>
        </ion-col>

        <ion-col width-25 style="text-align:center;">
          <button clear (click)="launchWebsite(item_select.website)" class="unidetail_btn">
            <ion-icon name="website"></ion-icon>
          </button>
          <span style="font-size:9pt; color: #B7B7B7;">{{'Website' }}</span>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list class="list_reviews">
      <ion-list-header class="list_review_header">
        {{'Reviews' }}
      </ion-list-header>
      <ion-item *ngFor="let review of reviews" class="review_item_list">
        <ion-row>
          <ion-col width-50>
            <h3 style="font-weight:500;">{{review.author_name}}</h3>
            <p class="review_text">{{review.newTime}}</p>
          </ion-col>
          <ion-col width-50 style="padding:0% 1%;">
            <span class="review_rating"></span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <p class="review_text">{{review.text}}</p>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>

    <div id="resto_map_dtl" style="width:100%; height:100%; display:none"></div>
  </div>
</ion-content>
