<ion-header>
  <ion-navbar primary>
      <ion-title>{{title_header }}</ion-title>
  </ion-navbar>

  <ion-toolbar class="sort_toolbar">
      <ion-grid>
        <ion-row *ngIf="page=='resto'">
          <ion-col width-33 class="ToolbarCol">
            <span class="sort_label">{{'Place Type' }}</span>
            <ion-item class="slct">
                <ion-label class="input_lbl">{{'Place Type' }}</ion-label>
                <ion-select id ='1'  (ionChange)="updatePlaceType($event)" class="drpdown" okText="OK" cancelText="{{'Cancel' }}">
                  <ion-option *ngFor="let pl_item of pl_type_items" value="{{pl_item.value}}" selected="{{pl_item.checked}}">{{pl_item.text}} </ion-option>
                </ion-select>
            </ion-item>
          </ion-col>

          <ion-col width-33 class="ToolbarCol">
            <span class="sort_label">{{'Cuisine' }}</span>
            <ion-item class="slct">
              <ion-label id ='2' class="input_lbl">{{'Cuisine' }}</ion-label>
              <ion-select id="cuisine" [disabled]='disable ? true : null' (ionChange)="updateCuisine($event)" class="drpdown" okText="OK" cancelText="{{'Cancel' }}">
                <ion-option *ngFor="let cui_item of cui_items" value="{{cui_item.value}}" selected="{{cui_item.checked}}">{{cui_item.text}} </ion-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col class="ToolbarCol" width-33 >
            <span class="sort_label">{{'Sort' }}</span>
            <ion-item class="slct sort">
              <ion-label class="input_lbl">{{'Sort' }}</ion-label>
              <ion-select (ionChange)="updateSort($event)" class="drpdown" okText="OK" cancelText="{{'Cancel' }}">
                <ion-option *ngFor="let sort_item of sort_items" value="{{sort_item.value}}" selected="{{sort_item.checked}}">{{sort_item.text}} </ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="page!='resto'">
          <ion-col width-50 class="ToolbarCol">
            <span class="sort_label">{{'Place Type' }}</span>
            <ion-item class="slct">
                <ion-label class="input_lbl">{{'Place Type' }}</ion-label>
                <ion-select id ='1' (ionChange)="updatePlaceType($event)" class="drpdown_nc" okText="OK" cancelText="{{'Cancel' }}">
                  <ion-option *ngFor="let pl_item of pl_type_items" value="{{pl_item.value}}" selected="{{pl_item.checked}}">{{pl_item.text}} </ion-option>
                </ion-select>
            </ion-item>
          </ion-col>
          <ion-col width-50 class="ToolbarCol">
            <span class="sort_label">{{'Sort' }}</span>
            <ion-item class="slct sort">
              <ion-label class="input_lbl">{{'Sort' }}</ion-label>
              <ion-select [(ngModel)]="sort" (ionChange)="updateSort($event)" class="drpdown_nc" okText="OK" cancelText="{{'Cancel' }}">
                <ion-option  *ngFor="let sort_item of sort_items" value="{{sort_item.value}}">{{sort_item.text}} </ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

      </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="loading" class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>


  <div class="bg" >

    <div id="map" style="height: 100%;display:none"></div>
    <ion-list>
      <button ion-item detail-none *ngFor="let item of items" (click)="displayDetails(item)">

        <ion-row>
          <ion-col>
            <h2 class="itm_name">{{item.name}}</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-70>
            <ul class="itm_info">
              <li><span class="itm_type" *ngIf="page=='resto'">{{item.types[0]}} {{item.types[1]}}</span></li>
              <li><span class="itm_type" *ngIf="page!='resto'">{{item.types[0]}}</span></li>
              <li><span class="itm_address">{{item.vicinity}}</span></li>
              <li><span class="itm_hours"></span></li>
            </ul>
          </ion-col>

          <ion-col width-30>
            <ul class="itm_info_right">
              <li><span class="itm_rating"></span></li>
              <li><span class="itm_distance">{{item.distance}}</span></li>
            </ul>
          </ion-col>
        </ion-row>
      </button>
    </ion-list>
    <ion-infinite-scroll *ngIf="items.length!==0&&items.length>=20" (ionInfinite)="doInfinite($event)" threshold="50px">
      <ion-infinite-scroll-content loadingSpinner="bubbles"
      loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
