// back button
button.back-button.disable-hover.bar-button.bar-button-md.back-button-md.bar-button-default.bar-button-default-md.show-back-button {
    color: #fff;
}
// back button end
.bg {
    background: url(../assets/img/mainBG/bg_pattern.png);
}
ion-select.drpdown {
    width: 30% !important;
    position: fixed;
    background: #F7F7F7;
    border-radius: 2px;
    /* border: 1px solid #E8E8E8; */
    padding: 5px 5px 5px 5px;
}
ion-label.input_lbl {
    // color: #717171;
    // margin: 10% 5% !important;
    display:none;
  }
ion-item.slct.item.item-select {
    padding-left: 3%;
    font-size: 11pt;
    margin:2% 0%;
}
ion-item.slct.item.item-select .item-inner{
padding-right:0;
border-bottom:0;
}

ion-col.ToolbarCol{
  padding:0;
  padding-top: 5px;
}
  // #drpdown {
  //     border-radius: 15px;
  //     background: none;
  //     border: 2px solid #3493FF;
  //     width: 96%;
  //     margin: 0 auto;
  //     margin-top: 2%;
  // }
ion-row.enter {
    border: .5px solid #D8D8D8;
    background: #fff;
    height: 45px;
}

ion-toolbar.sort_toolbar.toolbar {
    min-height: 7rem;
    // border: 2px solid #E2E2E2;
    // border-radius: 15px;
    // margin: 1% 1% 0% 1%;
    // width: 98%;
}
// ion-toolbar.sort_toolbar .toolbar-background {
//     background: $bg-pattern;
// }
ion-item.slct.sort.item.item-select ion-select.drpdown {
    background: #3493FF !important;
    color: #fff;
}

ion-item.slct.sort.item.item-select ion-select.drpdown .select-icon .select-icon-inner{
  color: #fff;
}
#places_map {
  height:100vh;
  width:100%;
}
span.stars, span.stars span {
    display: block;
    background: url(../../img/pins/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}
h2.itm_name {
    font-weight: 500;
}


// item info css

ul.itm_info {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.itm_info li {
    margin: 1% 0%;
}
ul.itm_info_right {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align:right;
}
ul.itm_info_right li {
    margin: 1% 0%;
}
span.itm_type, span.itm_address, span.itm_distance {
    font-size: 10pt;
    // color: #797979;
    white-space: pre-line;
}
span.itm_rating{
  font-size:12pt;
  color:#3493FF;
}
button.item ion-label {
    margin: 0;
}
button.item{
  padding: 0% 2%;
}
span.sort_label {
    color: #FFF;
    font-size: 9pt;
    padding-left: 3%;
}
// END - item info css

//hotels etc.
ion-select.drpdown_nc {
    width: 50% !important;
    position: fixed;
    background: #F7F7F7;
    border-radius: 2px;
    /* border: 1px solid #E8E8E8; */
    padding: 5px 5px 5px 5px;
}
ion-item.slct.sort.item.item-select ion-select.drpdown_nc {
    background: #3493FF !important;
    color: #fff;
}
ion-item.slct.sort.item.item-select ion-select.drpdown_nc .select-icon .select-icon-inner{
  color: #fff;
}


//map icon
span.icoMoon.icoMoon-marker {
    font-size: .4em;
}
[class^="icoMoon-"], [class*=" icoMoon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icoMoon{
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icoMoon-marker:before {
    content: "\e904";
    font-size: 1.5em;
}

//2nd toolbar
.toolbar-background{
  background: #2A7EDD;
}
.toolbar-title{
  color:#fff;
}
// // .mainBackDiv{
// //   position: absolute;
// //   overflow: auto;
// //   top: 0;
// //   bottom: 0;
// //   left:0;
// //   right:0;
// //   background-image: $bg-pattern;
// // }
// h2.pol_name {
//     font-weight: bold;
//     font-style: italic;
//     margin: 3% 0%;
// }
// span.pol_address {
//     width: 100%;
//     font-size: 10pt;
//     word-wrap: break-word;
// }
// span.pol_email {
//     font-size: 10pt;
//     margin-left: 3%;
// }
// ul.pol_contacts{
// display:inline;
// }
// ul.pol_contacts li {
//     float: left;
//     font-size: 11pt;
//     list-style: none;
// }
// ul.pol_contacts li:last-child {
//     float: right;
// }
//
// ul.pol_contacts li span {
//     margin: 0% 4%;
// }
//
// .gray-icon{
//   color:#969696;
// }



.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;

  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 85px;
  text-align: center;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.7s infinite ease-in-out;
  animation: sk-stretchdelay 1.7s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.6s;
  animation-delay: -1.6s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.5s;
  animation-delay: -1.5s;
}

.spinner .rect4 {
  -webkit-animation-delay: -1.4s;
  animation-delay: -1.4s;
}

.spinner .rect5 {
  -webkit-animation-delay: -1.3s;
  animation-delay: -1.3s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
